<article id="confirm-details">
	<div class="row">
		<h1 class="page-title">Last step! Complete your claim!</h1>
	</div>
	<div class="row">
		<div class="span8 offset2">
			<table class="table table-bordered claim-details">
				<tr>
					<td class="span3">
						Shipping Address	
					</td>
					<td>
						<p>
							123 Haight Street<br />
							San Francisco, CA 94117
						</p>
						<p><a id="change-shipping" class="underline">change shipping address</a></p>
					</td>
				</tr>
				<tr>
					<td>
						Replacement Device	
					</td>
					<td class="nopad">
						<div class="span2 text-center margin-left-0">
							<img src="../assets/images/phone_img-sm.png" />
						</div>
						<div class="span3 margin-left-0">
							<h4 class="strong black">Blackberry Bold XTC</h4>
							<ul class="accessory-list">
								<li>a new belt clip</li>
								<li>home charger</li>
							</ul>
							<p><a href="#" class="change-accessories underline">change accessories</a></p>
								<div class="change-wrap" style="display: none;">
						      <cheekybox
						        id="carcharger-affected"
						        class="span2"
						        label="Car Charger"
						        targetid=""
						        size="small"
						        createinput="no"
						      />   
						      <cheekybox
						        id="earpiece-affected"
						        class="span2"
						        label="Ear Piece"
						        targetid=""
						        size="small"
						        createinput="no"
						      />
						      <p>
						      	<a class="btn span1 has-icon accessory-update">update</a>
						      </p>
								</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						Email Address	
					</td>
					<td>
						<div class="email-address">
							<p>bob@bobberson.com</p>
							<p><a id="change-email" class="underline">change email address</a></p>
						</div>
						<div class="change-email-address" style="display:none;">
					        <div class="span4 margin-left-0">
					            <label for="your-email">Your Email</label>  
					            <input type="email" name="your-email" placeholder="email@address.com" id="your-email" class="span4 required stored" errmsg="Please try again using a valid format (e.g. username@domain.com)" />
		               			 <div>
		               			 	<a class="btn span1 has-icon margin-top-0 margin-left-0" id="email-change-button">update</a>
		               			 </div>
					        </div>
					    </div>
					</td>
				</tr>
				<tr>
					<td>
						Billing Summary	
					</td>
					<td>
						<table class="table">
							<tr><td>Insurance Deductible</td><td>$169.00</td></tr>
							<tr><td>Shipping Fee</td><td>$0.00</td></tr>
							<tr><th>Total Fee</th><th>$169.00</th></tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						Payment Details	
					</td>
					<td>
						<p>VISA card ending in 1234</p>
						<p><a id="change-payment" class="underline">change payment method</a></p>
					</td>
				</tr>
			</table>
		</div>
		<div class="span10 offset1">
			<!-- <p class="text-small">I understand that insurance fraud is unlawful in all states and may subject an individual who files a fraudulent insurance claim to civil and/or criminal prosecution under applicable law.</p> -->
			<p class="text-small strong">I understand that my insurance program requires me to return the damaged device within 15 days. If I do not return the damaged device, the account I provided will be charged a non-return fee of $300.00.</p>
			<p class="text-small"><strong>NOTE:</strong> For your convenience, a prepaid envelope will be included with your device. Simply drop your damaged device in the prepaid envelope and place in your mailbox for pickup.</p>
			<div class="row">
				<div class="well secondary span10 margin-top-40">
						<h3 class="text-center">Please Verify Your Claim</h3>
					<div class="">	
						<p class="text-small text-center span7 offset1">I understand that insurance fraud is unlawful in all states and may subject an individual who files a fraudulent insurance claim to civil and/or criminal prosecution under applicable law.</p>
					</div>
						<div class="">	
							<cheekybox
								id="cheekybox1"
								class="span4 offset3 margin-bottom-20"
								label="I verify that this claim is true."
								targetid="step5submit"
								size="small"
								createinput="yes"
							/>
						</div>
				</div>
				<button type="button" id="step5submit" class="span4 offset3 btn btn-primary btn-disabled btn-large step-continue">Submit My Claim</button>
				<button data-target="#exitinfo" data-toggle="modal" id="exit" type="button" class="offset3 span4 btn exit">Exit</button>
			</div>
		</div>
	</div>
</article>

<article class="step5-payment-information" style="display: none;">
	<div class="row">
		<h1 class="page-title">Payment Information</h1>
	</div>
	<div class="row">
		<div class="span8 offset2">
			<table class="table table-bordered claim-details">
				<tr>
					<td>
						Payment Method	
					</td>
					<td>
				<div class="row">
					<div class="span2 radio">
				        <input name="payment-method" id='credit-card' value="credit-card" hidden type="radio" checked />
				        <label for='credit-card'>Credit Card</label>
				    </div>
				   	<div class="span2 radio">
				        <input name="payment-method" id='echeck' value="echeck" hidden type="radio" />
				        <label for='echeck'>eCheck</label>
					</div> 
				</div>
			<!-- Credit Payment Content -->
			<div class="cc-payment-content">
				<div class="row">
			    <div class="span2">
	          <label for="first-name-card">First Name</label>
	          <input type="text" name="first-name-card" placeholder="Last Name" id="name-card" class="span2 required stored" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
		        </div>
			    <div class="span2">
	          <label for="last-name-card">Last Name</label>
	          <input type="text" name="last-name-card" placeholder="First Name" id="name-card" class="span2 required stored" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
		        </div>
			    </div>
			  </div>
				<div class="row">		    
				    <div class="span4">
			            <label for="card-number">Card Number</label>			        
			            <input type="tel" name="card-number" placeholder="0000-0000-0000" max-length="12" id="card-number" class="cc-input span4 required stored" errmsg="Please try again using a valid format containing only numbers and hyphens." />
			        </div>
				<div id="ccbox" class="span4">
					Credit card icons.
				</div>	
			    </div>    
					<div class="">
						<dropdownselect
						id="expiration-month"
						label="Expiration Date"
						inputclass="span2"
						inputname="expiration"
						readonly="readonly"
						defaultval=""
						placeholder="Month"
						iconclass="icon-arr-down"
						listvals="01,02,03,04,05,06,07,08,09,10,11,12"
						></dropdownselect>                        
					</div>

					<div class="span2">
						<dropdownselect
						id="expiration-year"
						label=""
						inputclass="span2"
						inputname="expiration-year"
						readonly="readonly"
						defaultval=""
						placeholder="Year"
						iconclass="icon-arr-down"
						listvals="2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025"
						></dropdownselect>                        
					</div>

				<div class="row">		    
				    <div class="span4">
			            <label for="card-number">Security Code</label>			        
			            <input type="text" name="cvv" placeholder="0000" maxlength="4" id="cvv" class="span2 required stored" errmsg="" />
						<a id="popoverData" class="" href="#" data-html="true" data-content="On Mastercard and Visa, the Security Code is the 3 digit number found on the back of your card just after your card number.  On American Express, it is found on the front of the card just to the right and above your card number." rel="popover" data-placement="right" data-original-title="Security Code" data-trigger="hover">
			            <span aria-hidden="true" class="icon-tooltip-question help-icon"></span>
						</a>
			        </div>
			    </div> 
				<div class="row">		    
			    <div class="span4">
		        <label for="zip-code">Billing Zip Code</label>
		        <input type="text" name="zip-code" placeholder="Zip/Postal Code" maxlength="5" id="zip-code" class="span2 required stored" errmsg="" />
		      </div>
			  </div> 
			</div>

			<!-- eCheck Payment Content -->
			<div class="echeck-payment-content" style="display:none;">
				<div class="row">
				    <div class="span4">
			            <label for="billing-account-name">Billing Account Name</label>	  
			            <input type="text" name="billing-account-name" placeholder="Account Name" id="billing-account-name" class="span4 required stored" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
			        </div>
			    </div>
				<div class="row">
				    <div class="span4">
			            <label for="bank-routing-number">Bank Routing Number</label> 
			            <input type="tel" name="bank-routing-number" placeholder="Routing Number" id="bank-routing-number" class="span4 required stored" errmsg="Please try again using a valid format containing only numbers and hyphens." />
			        </div>
			    </div>
				<div class="row">
				    <div class="span4">
			            <label for="bank-account-number">Bank Account Number</label>
			            <input type="tel" name="bank-account-number" placeholder="Account Number" id="bank-account-number" class="span4 required stored" errmsg="Please try again using a valid format containing only numbers and hyphens." />
			        </div>
			    </div>
				<div class="row">
				    <div class="span4">
			            <label for="check-number">Check Number</label>			        
			            <input type="tel" name="check-number" placeholder="Check Number" id="check-number" class="span4 required stored" errmsg="Please try again using a valid format containing only numbers." />
			        </div>
			    </div>
				<div class="row">
				    <div class="span2">
			            <label for="drivers-license-number">Driver&rsquo;s License #</label>			        
			            <input type="tel" name="drivers-license-number" placeholder="License Number" id="drivers-license-number" class="span2 required stored" errmsg="Please try again using a valid format containing only numbers." />
			        </div>
				<div class="span2">
					<dropdownselect
					id="state"
					label="State"
					inputclass="span2"
					inputname="state"
					readonly="readonly"
					defaultval=""
					placeholder="State"
					iconclass="icon-arr-down"
					listvals="AL, AK, AR, AZ, CA, CO, CT, DC, DE, FL, GA, HI, IA, ID, IL, IN, KS, KY, LA, MA, MD, ME, MI, MN, MO, MS, MT, NC, ND, NE, NH, NJ, NM, NV, NY, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VA, VT, WA, WI, WV, WY"
					></dropdownselect>                        
				</div>
			    </div>
			</div>
					</td>
				</tr>
			</table>
		</div>

		<div class="span10 offset1">
			<div class="row">
				<button type="button" id="update-payment" class="span4 offset3 btn btn-primary btn-large btn-active">Update Payment Info</button>
				<button data-target="#exitinfo" data-toggle="modal" id="exit" type="button" class="offset3 span4 btn exit">Exit</button>
			</div>
		</div>
	</div>
</article>

<script type="text/javascript">
	$(function() {
		$("#change-email").click(function(){
			$(".email-address").hide();				
			$(".change-email-address").show();
		});
	});
	$(function() {
		$("#email-change-button").click(function(){
			$(".change-email-address").hide();				
			$(".email-address").show();
		});
	});
	$(function() {
		$('#change-payment').on('click', function(){
			$('#confirm-details').hide();
			$('.step5-payment-information').show();
		});
	});
	$(function() {
		$('#update-payment').on('click', function(){
			$('.step5-payment-information').hide();
			$('#confirm-details').show();
		});
	});

	$('a.change-accessories').on('click', function(e) {
		$(this).hide();
		$('ul.accessory-list').slideFadeToggle();
		e.preventDefault();
		$('.change-wrap').slideFadeToggle();
	});

	$('.accessory-update').on('click', function(e) {
		e.preventDefault();
		$('ul.accessory-list').slideFadeToggle();
		$('a.change-accessories').fadeIn();
		$('.change-wrap').slideFadeToggle();
	});
</script>
