	<script type="text/javascript">
		$(function() {
			$("#peril").click(function(){
				$("#device-questions").hide();
				$("#affected-device").css('display','block');
			});
		});
		$(document).ready(function(){
			var maxchars = $('#incident-description').attr('maxchars');
			$('#charcount').text(maxchars + '/' + maxchars);

			$('#incident-description').keyup(function(){
				var typedchars = $(this).val().length;
				var remainder = maxchars - typedchars;
				if(remainder < 0){
					$('#charcount').html('<span class="err">' + remainder + '</span>' + '/' + maxchars);
				}else{
					$('#charcount').text(remainder + '/' + maxchars);
				}
				
			});			
			
		});
	</script> 

	<script type="text/javascript">
		$(document).ready(function(){
			$('input[type="radio"]').click(function(){
				if($('input[type="radio"]').is(':checked')){
					$('#peril').removeClass('btn-disabled');
				}else{
					$('#peril').addClass('btn-disabled');
				}
			});

		});
	</script>
<script type="text/javascript">
		$(document).ready(function() {

			//datepicker functions
			$(function(){

				$('#datepicker').datepicker({
				    viewMode: "days", 
    				minViewMode: "days",
				    endDate: '+0d',
				    autoclose: true,
				});

				$('#datepicker').datepicker().on('show', function(ev){
					$(this).next('.err').remove();
				});
				$('#datepicker').datepicker().on('changeDate', function(ev){
					$('#datepicker').datepicker();
					var selected_date = Math.round(new Date($('#incident-date').val()).getTime() / 1000);
					var date_today = Math.round(new Date().getTime() / 1000);
					if(selected_date < date_today){
						$(this).next('.err').hide();
					}else{
						$(this).next('.err').remove();
						//$('#datepicker').append('<div class="err">You cannot choose a date in the future.</div>');
						$(this).find('input').val('Select the date of the incident');
					}
				});
			});

		});
	</script>

		<!-- <script type="text/javascript">
		 $(document).ready(function() {
		 	$('#device-answers').children().hover(function() {
		 		$(this).siblings().stop().fadeTo(500,0.5);
		 	}, function() {
		 		$(this).siblings().stop().fadeTo(500,1);
		 	});
		 });
</script> -->


<script>

	$(document).keyup(function() {
				if($('#incident-description').val() == $('#incident-description')[0].defaultValue){
					var formval_err = true;
				}
				if(formval_err != true){
					$('#step2submit').removeClass('btn-disabled').addClass('btn-active');
				}else{
					$('#step2submit').removeClass('btn-active').addClass('btn-disabled');
				}
			});		
</script>





<article id="device-questions">
<h1 class="page-title">We have a few questions about what happened to your device</h1>
	<div class="row">
			<h2 class="span8 offset2">What do you think caused your device to stop working?</h2>
		 <div id ="device-answers">     
			<div class="span7 offset3 radio">
				<input id='option1' name="group1" value="option1" hidden type="radio">
				<label for='option1'>Contact with liquid</label>
			</div>
			
			<div class="span7 offset3 radio">
				<input id='option2' name="group1" value="option2" hidden type="radio">
				<label for='option2'>A hard impact</label>
			</div>
			
			<div class="span7 offset3 radio">
				<input id='option3' name="group1" value="option3" hidden type="radio">
				<label for='option3'>Charging port damage</label>
			</div>
			
			<div class="span7 offset3 radio">
				<input id='option4' name="group1" value="option4" hidden type="radio">
				<label for='option4'>Electrical or software issue</label>
			</div>
			
			<div class="span7 offset3 radio">
				<input id='option5' name="group1" value="option5" hidden type="radio">
				<label for='option5'>Other event</label>
			</div>
		</div>	
	</div>

	<div class="row">
			<button type="button" id="peril" class="span4 offset4 btn btn-primary btn-disabled btn-large">Continue</button>   
	</div>
</article>

<article id="affected-device" style="display:none;">
	<h1 class="page-title">Our records indicate your affected device is a&hellip;</h1>
	<div class="row">
		<div class="offset1 span3 text-center">
			<div class="well primary">
				<div class="well secondary inner-top text-center">
					<h4 class="text-center strong">Blackberry Bold XTC</h4>
					<img src="../assets/images/phone_img-sm.png" />
					<p class="margin-top-20 margin-bottom-0 strong text-small light-gray">Deductible Amount: $169.00</p>					
				</div>
				<p class="margin-bottom-0 margin-top-20 text-small">If this is not the device that was damaged please change the device.</p>
				<div class="">
					<p><a data-target="#changedevice" data-toggle="modal" class="btn has-icon change-device-button"><i class="icon-device"></i>change device</a></p>
				</div>
			</div>
		</div>

        <div class="offset1 span4">
	        <label for="incident-date">The date it happened was...</label>
	        <div class="input-append date span4" id="datepicker">
				<input class="span4" size="16" name="incident-date" id="incident-date" type="text" readonly="readonly" value="Select the date of the incident">
				<span class="add-on"><i class="icon-cal"></i></span>


		</div>

	</div>
		<div class="row">
			<div class="offset1 span6">
				<label for="incident-description">In a few words, please tell us what happened</label>			        
	                    <textarea class="span6 incident-description" id="incident-description" name="incident-description" maxchars="500" initial_val="Please describe your incident in 500 characters or less"></textarea>
	                    <div class="row">
	                    <p id="charcount" class="pull-right"></p>
	                    </div>
			</div>
		</div>
</div>

<!-- 	<div class="row">
			<p class="text-center"><a data-target="#qtool" data-toggle="modal" class="underline">qtool example modal</a></p> 
	</div> -->
	
	<div class="row">
			<button type="button" id="step2submit" class="span4 offset4 btn btn-primary btn-active btn-large step-continue btn-disabled">Continue</button>
	</div>
</article>

