
	<script type="text/javascript">
		$(function() {
			$("#change-shipping").click(function(){
				$(".view-shipping").hide();
				$(".edit-shipping").show();
			});
		});
	</script> 
	<script type="text/javascript">
		$(function() {
			$("#update-shipping").click(function(){
				$(".edit-shipping").hide();				
				$(".view-shipping").show();
			});
		});
	</script>
	<script type="text/javascript">
		$(function() {
			$("#shipping-confirm").click(function(){
				$(".view-shipping").hide();				
				$(".payment-information").show();
			});
		});
	</script>

	<script type="text/javascript">
		$(function() {
			$("#echeck").click(function(){
				$(".cc-payment-content").hide();				
				$(".echeck-payment-content").show();
			});
		});
	</script>
	<script type="text/javascript">
		$(function() {
			$("#credit-card").click(function(){
				$(".echeck-payment-content").hide();				
				$(".cc-payment-content").show();
			});
		});
	</script>
		
<script type="text/javascript">
$('#popoverData').popover();
</script>

<style type="text/css">
	#ccbox {
		background: transparent url("../assets/images/cards.gif");
		width: 152px;
		height: 20px;
		overflow: hidden;
		text-indent:-9999px;
		margin-top:-30px;
		clear:both;
		margin-bottom:40px;
		}
</style>
<script type="text/javascript">
	$(document).ready(function () {
		$('.cc-input').keyup(function() {
			if($(this).val() == 4){
				$('#ccbox').css('background-position', '0 -20px');
 			}
 			else if($(this).val() == 5){
				$('#ccbox').css('background-position', '0 -40px');
 			}
 			else if($(this).val() == 3){
				$('#ccbox').css('background-position', '0 -60px');
 			}
 			else if($(this).val() == 6){
				$('#ccbox').css('background-position', '0 -80px');
 			}
 			else if($(this).val() == ''){
 				$('#ccbox').css('background-position', '0 0');
 			}	
		});
	});
</script>
<article class="view-shipping">
	<div class="row">
		<h1 class="page-title">Shipping Information</h1>
	</div>
	<div class="row">
		<div class="span8 offset2">
			<table class="table table-bordered claim-details">
				<tr>
					<td class="span3">
						Shipping Address	
					</td>
					<td>
						<p>
							Bob Bobson<br />
							123 Haight Street<br />
							San Francisco, CA 94117
						</p>
						<p><a id="change-shipping" class="underline">change shipping address</a></p>
					</td>
				</tr>
				<tr>
					<td>
						Shipping Method	
					</td>
					<td>
							<dropdownselect
							id="shippingmethod"
							label=""
							inputclass="span3"
							inputname="shippingmethod"
							readonly="readonly"
							defaultval="Next Day"
							placeholder="Next Day"
							iconclass="icon-arr-down"
							listvals="Next Day, Second Day"
							></dropdownselect>
							<p class="strong margin-top-10 margin-left-20 alignleft">FREE!</p>                       					
					</td>
				</tr>
				<tr>
					<td>
						Expected Delivery Date	
					</td>
					<td>
						<p class="strong">Wednesday, August 21st 2013</p>
					</td>
				</tr>
			</table>
		</div>
		<div class="span10 offset1">
			<p class="text-small text-center strong black">A signature will be required upon delivery.</p>
			<p class="text-small text-center">Packages are normally delivered between 8AM and 5PM. After two failed attempts, the package will be returned to Asurion.<br />A reshipping fee of up to $35 may apply to shipments returned to Asurion.</p>
			<div class="row">
				<button type="button" id="shipping-confirm" class="span4 offset3 btn btn-primary btn-large btn-active">Continue</button>
				<button data-target="#exitinfo" data-toggle="modal" id="exit" type="button" class="offset3 span4 btn exit">Exit</button>
			</div>
		</div>
	</div>
</article>

<article class="edit-shipping" style="display:none;">
	<div class="row">
		<h1 class="page-title">Shipping Address</h1>
		<div class="offset1 span10">
			<div class="row business-account">
				<div class="span5 offset5">
					<p class="span3">Is this a business account</p>
	      			<div class="span1 radio">
				        <input id="Yes4" class="s4-account-type" name="s4-account-type-select" value="yes" hidden type="radio" stepid="s4">
				        <label for="Yes4">Yes</label>
				    </div>
				   	<div class="span1 radio">
				        <input id="No4" class="s4-account-type" name="s4-account-type-select" value="no" hidden type="radio" stepid="s4" checked>
				        <label for="No4">No</label>
	      			</div>
				</div>
			</div>
			<div id="personal-account-fields" class="row">
				<div class="span4" id="s4bizname" style="display:none;">
	        <label for="first-name">Business Name</label>
	        <input type="text" name="business-name" placeholder="Business name" id="first-name" class="span4 required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
		    </div>
				<div class="span5" id="s4fname">
	        <label for="first-name">Your First Name</label>
	        <input type="text" name="first-name" placeholder="First name" id="first-name" class="span5 required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
		    </div>

        <div class="span5" id="s4lname">
	        <label for="last-name">Your Last Name</label>			        
	        <input type="text" name="last-name" placeholder="Last name" id="last-name"  class="span5 required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
        </div>
			</div>
			<div class="row">
				<div class="span5">
					<label for="address-line-1">Street Address</label>			        
					<input type="text" name="address-line-1" placeholder="123 Elm Street" id="address-line-1" class="span5" />
					<p class="help-block">We cannot ship to P.O. boxes/Military addresses.</p>
				</div>
				<div class="span5">
					<label for="address-line-2">Apartment, Suite, Attn <span class="optional">(Optional)</span></label>			        
					<input type="text" name="address-line-2" placeholder="Apt. 123" id="address-line-2"  class="span5" />
				</div>			
			</div>
			<div class="row">
				<div class="span2">
					<label for="zip-code">Zip/Postal Code</label>			        
					<input type="text" name="zip-code" placeholder="Zip/Postal Code" id="zip-code" class="span2" />
				</div>
				<div class="span3">
					<label for="city">City</label>			        
					<input type="text" name="city" placeholder="City" id="city" class="span3" />
				</div>

				<div class="span2">
					<dropdownselect
					id="state"
					label="State"
					inputclass="span2"
					inputname="state"
					readonly="readonly"
					defaultval=""
					placeholder="State"
					iconclass="icon-arr-down"
					listvals="AL, AK, AR, AZ, CA, CO, CT, DC, DE, FL, GA, HI, IA, ID, IL, IN, KS, KY, LA, MA, MD, ME, MI, MN, MO, MS, MT, NC, ND, NE, NH, NJ, NM, NV, NY, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VA, VT, WA, WI, WV, WY"
					></dropdownselect>                        
				</div>

				<div class="span3">
					<dropdownselect
					id="country"
					label="Country"
					inputclass="span3"
					inputname="country"
					readonly="readonly"
					defaultval=""
					placeholder="Country"
					iconclass="icon-arr-down"
					listvals="United States, Canada"
					></dropdownselect>                        
				</div>
			</div>
			<div class="row">
				<button type="button" id="update-shipping" class="span4 offset3 btn btn-primary btn-large">Update Shipping Address</button>   
			</div>
		</div>
	</div>
</article>

<article class="payment-information" style="display:none;">
	<div class="row">
		<h1 class="page-title">Payment Information</h1>
	</div>
	<div class="row">
		<div class="span8 offset2">
			<table class="table table-bordered claim-details">
				<tr>
					<td class="span3">
						Fee Summary	
					</td>
					<td>
						<table class="table">
							<tr><td>Insurance Deductible</td><td>$169.00</td></tr>
							<tr><td>Shipping Fee</td><td>FREE</td></tr>
							<tr class="strong"><th>Total Fees</th><th>$169.00</th></tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						Payment Method	
					</td>
					<td>
				<div class="row">
					<div class="span2 radio">
				        <input name="payment-method" id='credit-card' value="credit-card" hidden type="radio" checked />
				        <label for='credit-card'>Credit Card</label>
				    </div>
				   	<div class="span2 radio">
				        <input name="payment-method" id='echeck' value="echeck" hidden type="radio" />
				        <label for='echeck'>eCheck</label>
					</div> 
				</div>


			<!-- Credit Payment Content -->
			<div class="cc-payment-content">
				<div class="row">
			    <div class="span2">
	          <label for="first-name-card">First Name</label>
	          <input type="text" name="first-name-card" placeholder="Last Name" id="name-card" class="span2 required stored" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
		        </div>
			    <div class="span2">
	          <label for="last-name-card">Last Name</label>
	          <input type="text" name="last-name-card" placeholder="First Name" id="name-card" class="span2 required stored" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
		        </div>
			    </div>
				<div class="row">		    
				    <div class="span4">
			            <label for="card-number">Card Number</label>			        
			            <input type="tel" name="card-number" placeholder="0000-0000-0000" max-length="12" id="card-number" class="cc-input span4 required stored" errmsg="Please try again using a valid format containing only numbers and hyphens." />
			        </div>
				<div id="ccbox" class="span4">
					Credit card icons.
				</div>	
			    </div>    
					<div class="">
						<dropdownselect
						id="expiration-month"
						label="Expiration Date"
						inputclass="span2"
						inputname="expiration"
						readonly="readonly"
						defaultval=""
						placeholder="Month"
						iconclass="icon-arr-down"
						listvals="01,02,03,04,05,06,07,08,09,10,11,12"
						></dropdownselect>                        
					</div>

					<div class="span2">
						<dropdownselect
						id="expiration-year"
						label=""
						inputclass="span2"
						inputname="expiration-year"
						readonly="readonly"
						defaultval=""
						placeholder="Year"
						iconclass="icon-arr-down"
						listvals="2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025"
						></dropdownselect>                        
					</div>

				<div class="row">		    
			    <div class="span4">
		        <label for="card-number">Security Code</label>
		        <input type="text" name="cvv" placeholder="0000" maxlength="4" id="cvv" class="span2 required stored" errmsg="" />
						<a id="popoverData" class="" href="#" data-html="true" data-content="On Mastercard and Visa, the Security Code is the 3 digit number found on the back of your card just after your card number.  On American Express, it is found on the front of the card just to the right and above your card number." rel="popover" data-placement="right" data-original-title="Security Code" data-trigger="hover">
		        <span aria-hidden="true" class="icon-tooltip-question help-icon"></span>
						</a>
		      </div>
			  </div> 
				<div class="row">		    
			    <div class="span4">
		        <label for="zip-code">Billing Zip Code</label>
		        <input type="text" name="zip-code" placeholder="Zip/Postal Code" maxlength="5" id="zip-code" class="span2 required stored" errmsg="" />
		      </div>
			  </div> 
			</div>

			<!-- eCheck Payment Content -->
			<div class="echeck-payment-content" style="display:none;">
				<div class="row">
				    <div class="span4">
			            <label for="billing-account-name">Billing Account Name</label>	  
			            <input type="text" name="billing-account-name" placeholder="Account Name" id="billing-account-name" class="span4 required stored" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." />
			        </div>
			    </div>
				<div class="row">
				    <div class="span4">
			            <label for="bank-routing-number">Bank Routing Number</label> 
			            <input type="tel" name="bank-routing-number" placeholder="Routing Number" id="bank-routing-number" class="span4 required stored" errmsg="Please try again using a valid format containing only numbers and hyphens." />
			        </div>
			    </div>
				<div class="row">
				    <div class="span4">
			            <label for="bank-account-number">Bank Account Number</label>
			            <input type="tel" name="bank-account-number" placeholder="Account Number" id="bank-account-number" class="span4 required stored" errmsg="Please try again using a valid format containing only numbers and hyphens." />
			        </div>
			    </div>
				<div class="row">
				    <div class="span4">
			            <label for="check-number">Check Number</label>			        
			            <input type="tel" name="check-number" placeholder="Check Number" id="check-number" class="span4 required stored" errmsg="Please try again using a valid format containing only numbers." />
			        </div>
			    </div>
				<div class="row">
				    <div class="span2">
			            <label for="drivers-license-number">Driver&rsquo;s License #</label>			        
			            <input type="tel" maxlength="20" name="drivers-license-number" placeholder="License Number" id="drivers-license-number" class="span2 required stored" errmsg="Please try again using a valid format containing only numbers." />
			        </div>
				<div class="span2">
					<dropdownselect
					id="state"
					label="State"
					inputclass="span2"
					inputname="state"
					readonly="readonly"
					defaultval=""
					placeholder="State"
					iconclass="icon-arr-down"
					listvals="AL, AK, AR, AZ, CA, CO, CT, DC, DE, FL, GA, HI, IA, ID, IL, IN, KS, KY, LA, MA, MD, ME, MI, MN, MO, MS, MT, NC, ND, NE, NH, NJ, NM, NV, NY, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VA, VT, WA, WI, WV, WY"
					></dropdownselect>                        
				</div>
			    </div>
			</div>
					</td>
				</tr>
<!-- 				<tr>
					<td>
						Billing Address	
					</td>
					<td>
						<p>
							123 Haight Street<br />
							San Francisco, CA 94117
						</p>
						<p><a id="change-shipping" class="underline">change billing address</a></p>
					</td>
				</tr> -->
			</table>
		</div>

		<div class="span10 offset1">
			<div class="row">
				<button type="button" id="step4submit" class="span4 offset3 btn btn-primary btn-large btn-active step-continue">Continue</button>
				<button data-target="#exitinfo" data-toggle="modal" id="exit" type="button" class="offset3 span4 btn exit">Exit</button>
			</div>
		</div>

	</div>
</article>

<script>
	$(document).ready(function(){
		if($('dropdownselect').length > 0){
			dropDownSelect();
		}
	});

	$(document).keyup(function() {
				if($('#cvv').val() == $('#cvv')[0].defaultValue){
					var formval_err = true;
				}
				if(formval_err != true){
					$('#step4submit').removeClass('btn-disabled').addClass('btn-active');
				}else{
					$('#step4submit').removeClass('btn-active').addClass('btn-disabled');
				}
			});		
</script>
