<article class="step1info">
<div class="row">

	<div class="offset1 span10">
		<h1 class="page-title">Please complete the following information</h1>
		<div class="row">
			<div class="span5">
		        <label for="affected-device-number">Mobile Number of Affected Device</label>			        
		        <input type="tel" maxlength="10" name="affected-device-number" placeholder="123-456-7890" id="affected-device-number" class="span5 bfh-phone required lockable stored" data-format="ddd-ddd-dddd" errmsg="Please confirm the number you entered is for the device you are claiming." tabindex="5" />
		    </div>

		    <div class="span4">
		        <label for="contact-number">Your Contact Number</label>			        
		        <input type="tel" maxlength="10" name="contact-number" placeholder="123-456-7890" id="contact-number"  class="span4 bfh-phone required stored" data-format="ddd-ddd-dddd" errmsg="Sorry, The number isn't a valid phone number. Please enter a valid 10 digit number and try again." tabindex="10" />
		    </div>
		    <div class="span1">
		        <label for="contact-number">Extension</label>			        
		        <input type="tel" maxlength="7" name="ext-number" placeholder="ext." id="ext-number"  class="span1 stored" tabindex="11" />
		    </div>

		</div>

		<div class="row">		
	        <div class="span5">
	            <label for="your-email">Your Email</label>			        
	            <input type="email" name="your-email" placeholder="email@address.com" id="your-email" class="span5 required stored" errmsg="Please try again using a valid format (e.g. username@domain.com)" tabindex="15" />
	        </div>

	        <div class="span5">
	            <label for="confirm-email">Confirm Email</label>			        
	            <input type="email" name="confirm-email" placeholder="email@address.com" id="confirm-email" class="span5 required-match stored" matchwith="#your-email" errmsg="Please make sure your emails match" tabindex="20" />
	        </div>
	    </div>
	    <hr>
		<div class="row business-account">
			<h2 class="span5">Account Information</h2>
			<div class="span5">
				<p class="span3" tabindex="25">Is this a business account</p>
      			<div class="span1 radio">
			        <input id="Yes1" class="s1-account-type" name="s1-account-type-select" value="yes" hidden type="radio" stepid="s1" tabindex="27">
			        <label for="Yes1">Yes</label>
			    </div>
			   	<div class="span1 radio">
			        <input id="No1" class="s1-account-type" name="s1-account-type-select" value="no" hidden type="radio" stepid="s1" checked tabindex="29">
			        <label for="No1">No</label>
      			</div>
			</div>
		</div>

		<div id="personal-account-fields" class="row">
			<div class="span4" id="s1bizname" style="display:none;">
	            <label for="first-name">Business Name</label>
	            <input type="text" name="business-name" placeholder="Business name" id="first-name" class="span4 required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." tabindex="30" />
	        </div>

			<div class="span5" id="s1fname">
	            <label for="first-name">Your First Name</label>
	            <input type="text" name="first-name" placeholder="First name" id="first-name" class="span5 required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." tabindex="35" />
	        </div>

	        <div class="span5" id="s1lname">
	            <label for="last-name">Your Last Name</label>			        
	            <input type="text" name="last-name" placeholder="Last name" id="last-name"  class="span5 required" errmsg="Please try again using a valid format containing only letters, hyphens and spaces." tabindex="40" />
	        </div>
		</div>

		<div class="row">
			<div class="span5">
				<label for="address-line-1">Billing Street Address</label>			        
				<input type="text" name="address-line-1" placeholder="123 Elm Street" id="address-line-1" class="span5" tabindex="45" />
				<p class="help-block">We cannot ship to P.O. boxes/Military addresses.</p>
			</div>

			<div class="span5">
				<label for="address-line-2">Apartment, Suite, Attn <span class="optional">(Optional)</span></label>			        
				<input type="text" name="address-line-2" placeholder="Apt. 123" id="address-line-2"  class="span5" tabindex="50" />
			</div>			
		</div>


		<div class="row">
			<div class="span2">
				<label for="zip-code">Zip</label>			        
				<input type="text" name="zip-code" placeholder="Zip/Postal Code" id="zip-code" class="span2" tabindex="55"/>
			</div>

			<div class="span3">
				<label for="city">City</label>			        
				<input type="text" name="city" placeholder="City" id="city" class="span3" tabindex="60" />
			</div>

			<div class="span2">
				<dropdownselect
				id="state"
				label="State"
				inputclass="span2"
				inputname="state"
				readonly="readonly"
				defaultval=""
				placeholder="State"
				iconclass="icon-arr-down"
				listvals="AL, AK, AR, AZ, CA, CO, CT, DC, DE, FL, GA, HI, IA, ID, IL, IN, KS, KY, LA, MA, MD, ME, MI, MN, MO, MS, MT, NC, ND, NE, NH, NJ, NM, NV, NY, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VA, VT, WA, WI, WV, WY"
				tabindex="65"
				></dropdownselect>                        
			</div>

			<div class="span3">
				<dropdownselect
				id="country"
				label="Country"
				inputclass="span3"
				inputname="country"
				readonly="readonly"
				defaultval=""
				placeholder="Country"
				iconclass="icon-arr-down"
				listvals="United States, Canada"
				tabindex="70"
				></dropdownselect>                        
			</div>
		</div>

		<div class="row">
			<button type="button" data-target="#claimcreated" data-toggle="modal" id="continue" class="span4 offset3 btn btn-primary btn-disabled btn-large step-continue" tabindex="75">Continue</button>
			
	 		<!-- <button type="button" class="span4 offset3 btn btn-primary btn-active btn-large step-continue">Continue</button> -->
		</div>
	</div>

</div>
</article>
<script>
$("#zip-code").keydown(function (event) {
    // Prevent shift key since its not needed
    if (event.shiftKey == true) {
        event.preventDefault();
    }
    if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 189) {
        // Allow normal operation
    } else {
        // Prevent the rest
        event.preventDefault();
    }
});
</script>
<script>
	$(document).ready(function(){
		if($('dropdownselect').length > 0){
			dropDownSelect();
		}
	});

	$(document).keyup(function() {
				if($('#zip-code').val() == $('#zip-code')[0].defaultValue){
					var formval_err = true;
				}
				if(formval_err != true){
					$('#continue').removeClass('btn-disabled').addClass('btn-active');
				}else{
					$('#continue').removeClass('btn-active').addClass('btn-disabled');
				}
			});		
</script>
