<script type="text/javascript">
  $('input:radio[name="accessories-affected"]').click(function(){
    if($(this).val() == "yes"){ 
      $('#additional-accessories').slideFadeToggle("900");
    }
    if($(this).val() == "no"){ 
      $('#additional-accessories').slideFadeToggle("900");
    }

  });
</script>
<style type="text/css">
.checkbox-sm-label, .cheekybox-sm-label {
  font-size:12px;
  margin-right: 15px;
}
</style>
<div class="row">
  <h1 class="page-title">We will replace your&hellip;</h1>
</div>
<div class="row">
  <div class="offset3 span6 text-center">
    <h3 class="text-center strong">Blackberry Bold XTC</h3>
    <img src="../assets/images/phone_img.png">
    <p class="text-center margin-top-20">We will be sending you a Belt Clip and a Home Charger.</p>
  </div>
</div>

<div class="row">
  <div class="offset2 span8 well primary">
    <div class="offset1 span6 affected-accessory clearfix">
      <p class="span4 strong">Were any other accessories affected?</p>
        <div class="span1 radio">
            <input name="accessories-affected" id='accessories-yes' value="yes" hidden type="radio" />
            <label for='accessories-yes'>Yes</label>
        </div>
        <div class="span1 radio">
            <input name="accessories-affected" id='accessories-no' value="no" hidden type="radio" checked />
            <label for='accessories-no'>No</label>
        </div>
    </div>
    <div id="additional-accessories" class="well secondary inner-bottom clearfix">
      <div class="offset1 span3">
        <p>Which accessories were affected:</p>
      </div>
      <cheekybox
        id="carcharger-affected"
        class="span2"
        label="Car Charger"
        targetid=""
        size="small"
        createinput="no"
      />
      <cheekybox
        id="earpiece-affected"
        class="span2"
        label="Ear Piece"
        targetid=""
        size="small"
        createinput="no"
      />
        <!--
        <input name="car-charger" value="car-charger" type="checkbox">
        <label class="checkbox" for='car-charger'>Car Charger</label>
        <input name="ear-piece" value="ear-piece" type="checkbox">
        <label class="checkbox" for='ear-piece'>Ear Piece</label>
        -->
    </div>  
  </div>
</div>
  <!--<p class="text-small text-center">Once you confirm you will not be able to go back and change your device.</p>-->
    <div class="row">
      <button type="button" id="validateinputs" class="span4 offset4 btn btn-primary btn-large btn-active step-continue">Continue</button>   
    </div>
