<script type="text/javascript">
$(document).ready(function() {
    $('#bko-carousel').carousel({
    interval: false
    })
});
</script>
<script type="text/javascript">
  var item1 = $('.carousel-inner .item-1');
  var item2 = $('.carousel-inner .item-2');
  var item3 = $('.carousel-inner .item-3');

  $('.carousel-control').click(function() {
    if ($(item1).hasClass('active')) {
      $('.compare-features').slideDown();
      $('#bko-submit').text('Continue');
      $('.stock-ship-info').text('Ships in 1-2 Days');
      $('.item img').removeClass('bko-device');
    } 
    if ($(item3).hasClass('active')) {
      $('.compare-features').slideUp();
      $('#bko-submit').text('Place on Backorder');
      $('.stock-ship-info').text('Out of Stock');
      $('.item img').addClass('bko-device');
    }
  });

  $('.compare-features').on('click', function(e) {
    e.preventDefault();
    $(this).hide()
    $(".feature-table" ).slideFadeToggle();
    $('.hide-features').show();
    $('.stock-ship-info').hide();
    $('#bko-carousel').hide();
  });
  $('.hide-features').on('click', function(e) {
    $(this).hide();
    $(".feature-table" ).slideFadeToggle();
    $('.compare-features').show();
    $('.stock-ship-info').show();
    $('#bko-carousel').show();
  }); 

</script>

<div class="row">
    <h1 class="page-title">Your device is currently out of stock</h1>
    <p class="offset1 span10 text-center">You can place your device on backorder or choose a different replacement device.</p>
</div>
<div class="row feature-table" style="display: none;">
  <div class="span6 offset3">
    <table class="table table-bordered table-striped table-compare-features">
      <thead>
        <tr>
          <th class="bordered">Model</th>
          <th><img class="compare-img" src="../assets/images/ph2.jpg" /> Blackberry X10</th>
          <th><img class="compare-img" src="../assets/images/ph3.jpg" /> BlackBerry X11</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td class="bordered">Weight</td>
        <td>4.8 oz</td>
        <td>4.9 oz</td>
      </tr>
      <tr>
        <td class="bordered" rowspan="3">Dimensions</td>
        <td>height: 4.87 in</td>
        <td>height: 4.87 in</td>
      </tr>
      <tr>
        <td>depth: 0.30 in</td>
        <td>width: 2.31 in</td>
      </tr>
      <tr>
        <td>depth: 0.30 in</td>
        <td>depth: 0.30 in</td>
      </tr>
      <tr>
        <td class="bordered">Display Size</td>
        <td>Display Size</td>
        <td>Display Size</td>
      </tr>
      <tr>
        <td class="bordered">Camera</td>
        <td>12 megapixel</td>
        <td>14 megapixel</td>
      </tr>
      <tr>
        <td class="bordered">Battery Life</td>
        <td>8 Hours</td>
        <td>10 Hours</td>
      </tr>
      <tr>
        <td class="bordered">WiFi</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td class="bordered">Capacity</td>
        <td>32 GB</td>
        <td>64 GB</td>
      </tr>
    </tbody></table>
  </div>
</div>
<div class="row">
    <div class="offset3 span6 text-center">
        <h3 class="text-center strong stock-ship-info">Out of Stock</h3>

        <div id="bko-carousel" class="carousel slide">
   
        <ol class="carousel-indicators">
            <li data-target="#bko-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bko-carousel" data-slide-to="1"></li>
            <li data-target="#bko-carousel" data-slide-to="2"></li>           
        </ol>

        <!-- Carousel items -->


        <div class="well secondary">  
            <div class="carousel-inner">    

                <div class="item active item-1">
                    <div class="row">
                      <div class="span5" id="bko-device"><a aria-hidden="true"><img src="../assets/images/phone_img.png" class="bko-device"></a><p class="caption">Apple iPhone 4s Black 8GB</p></div>
                    </div>
                </div><!--/item-->

                <div class="item item-2">
                    <div class="row">
                        <div class="span5"><a aria-hidden="true"><img src="../assets/images/phone_img2.png"></a><p class="caption">Apple iPhone 4s Black 16GB</p></div>
                    </div>
                </div><!--/item-->

                <div class="item item-3">
                    <div class="row">
                        <div class="span5"><a aria-hidden="true"><img src="../assets/images/phone_img3.png"></a><p class="caption">Apple iPhone 5s 8GB</p></div>
                    </div>
                </div><!--/item-->
            </div><!--/carousel-inner-->

             <a class="left carousel-control" href="#bko-carousel" data-slide="prev">&#xe015;</a>             
             <a class="right carousel-control" href="#bko-carousel" data-slide="next">&#xe016;</a>

        </div>
    </div>
            <p class="text-small compare-features" style="display: none;"><a class="underline" href="#">compare features</a></p>
            <p class="text-small hide-features" style="display: none;"><a class="underline" href="#">hide features</a></p>

    </div>
</div>

    <!--<p class="text-small text-center">Once you confirm you will not be able to go back and change your device.</p>-->
        <div class="row">
            <button type="button" data-target="#backorder-confirm" data-toggle="modal" id="bko-submit" class="span4 offset4 btn btn-primary btn-large btn-active">Place on Backorder</button>   
        </div>

<div id="backorder-confirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="claimcreatedlabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="claimcreatedlabel">Place Device on Backorder</h2>
  </div>
  <div class="modal-body">
    <p>You will receive an email containing your claim ID as well as the wireless number of the device you&rsquo;re claiming. You will need both of these numbers to log in to resume or track your claim.</p>
    <div class="text-center">
      <button class="span4 btn btn-primary btn-active step-continue" style="margin-left: 0;" data-dismiss="modal">Place on Backorder</button> 
    </div>
    <div class="text-center">
      <button id="proceed" class="btn exit span4" style="margin-left: 0; margin-bottom: 40px;">Choose Another Device</button>
    </div>
  </div>
    <!-- <button class="btn btn-primary btn-active step-continue" id="step1submit">Continue</button> -->
</div>
