<script type="text/javascript">
$(document).ready(function() {
    $('#bko-carousel').carousel({
    interval: false
    })
});
</script>
<script type="text/javascript">
  var item1 = $('.carousel-inner .item-1');
  var item2 = $('.carousel-inner .item-2');
  var item3 = $('.carousel-inner .item-3');
  $('.carousel-control').click(function() {
    if ($(item1).hasClass('active')) {
      $('.compare-features').slideDown();
      $('#bko-submit').text('Continue').removeClass('btn-disabled');
      $('.stock-ship-info').text('Ships in 1-2 Days');
      $('.item img').removeClass('bko-device');
    } 
    if ($(item3).hasClass('active')) {
      $('.compare-features').slideUp();
      $('#bko-submit').text('Continue').addClass('btn-disabled');
      $('.stock-ship-info').text('Device has been discontinued');
      $('.item img').addClass('bko-device');
    }
  });
  $('.compare-features').on('click', function(e) {
    e.preventDefault();
    $( ".feature-table" ).slideToggle( "slow", function() {
      $('.compare-features a').text(
      $(this).is(':visible') ? "hide features" : "compare features"
      );
    });
  });
</script>

<div class="row">
    <h1 class="page-title">Your device has been discontinued</h1>
    <p class="offset1 span10 text-center">Please select a different replacement device.</p>
</div>
<div class="row">
  <div class="feature-table span6 offset3" style="display: none;">
    <table class="table table-bordered table-striped">
      <tbody><tr>
        <th>Model</th>
        <th>Blackberry X10</th>
        <th>BlackBerry X11</th>
      </tr>
      <tr>
        <td>Weight</td>
        <td>4.8 oz</td>
        <td>4.9 oz</td>
      </tr>
      <tr>
        <td rowspan="3">Dimensions</td>
        <td>height: 4.87 in</td>
        <td>height: 4.87 in</td>
      </tr>
      <tr>
        <td>depth: 0.30 in</td>
        <td>width: 2.31 in</td>
      </tr>
      <tr>
        <td>depth: 0.30 in</td>
        <td>depth: 0.30 in</td>
      </tr>
      <tr>
        <td>Display Size</td>
        <td>Display Size</td>
        <td>Display Size</td>
      </tr>
      <tr>
        <td>Camera</td>
        <td>12 megapixel</td>
        <td>14 megapixel</td>
      </tr>
      <tr>
        <td>Battery Life</td>
        <td>8 Hours</td>
        <td>10 Hours</td>
      </tr>
      <tr>
        <td>WiFi</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Capacity</td>
        <td>32 GB</td>
        <td>64 GB</td>
      </tr>
    </tbody></table>
  </div>
</div>
<div class="row">
    <div class="offset3 span6 text-center">
        <h3 class="text-center strong stock-ship-info">Device has been discontinued</h3>

        <div id="bko-carousel" class="carousel slide">
   
        <ol class="carousel-indicators">
            <li data-target="#bko-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bko-carousel" data-slide-to="1"></li>
            <li data-target="#bko-carousel" data-slide-to="2"></li>           
        </ol>

        <!-- Carousel items -->


        <div class="well secondary">  
            <div class="carousel-inner">    

                <div class="item active item-1">
                    <div class="row">
                      <div class="span5" id="bko-device"><a aria-hidden="true"><img src="../assets/images/phone_img.png" class="bko-device"></a><p class="caption">Apple iPhone 4s Black 8GB</p></div>
                    </div>
                </div><!--/item-->

                <div class="item item-2">
                    <div class="row">
                        <div class="span5"><a aria-hidden="true"><img src="../assets/images/phone_img2.png"></a><p class="caption">Apple iPhone 4s Black 16GB</p></div>
                    </div>
                </div><!--/item-->

                <div class="item item-3">
                    <div class="row">
                        <div class="span5"><a aria-hidden="true"><img src="../assets/images/phone_img3.png"></a><p class="caption">Apple iPhone 5s 8GB</p></div>
                    </div>
                </div><!--/item-->
            </div><!--/carousel-inner-->

             <a class="left carousel-control" href="#bko-carousel" data-slide="prev">&#xe015;</a>             
             <a class="right carousel-control" href="#bko-carousel" data-slide="next">&#xe016;</a>

        </div>
    </div>
      <p class="text-small compare-features" style="display: none;"><a class="underline" href="#">compare features</a></p>
    </div>
</div>

    <!--<p class="text-small text-center">Once you confirm you will not be able to go back and change your device.</p>-->
        <div class="row">
            <button type="button" id="bko-submit" class="span4 offset4 btn btn-primary btn-large btn-active step-continue btn-disabled">Continue</button>   
        </div>
