/* input.ddsinput {margin-bottom: 10px;} */
.ddslist {margin-left: 0;}
/* .dropdownselect-list {display: none; padding-bottom: 40px; margin-left: 0; margin-top: 0; position: absolute;} */
.dropdownselect-list {display: none; padding-bottom: 40px; position: absolute;z-index:999;}
.dropdownselect-list ul {-webkit-animation: fadeIn 0.3s;-moz-animation: fadeIn 0.3s;-ms-animation: fadeIn 0.3s;-o-animation: fadeIn 0.3s;animation: fadeIn 0.3s;width: 100%; width: 100%; border-radius: 4px; border: 1px solid #DDD; box-shadow: 0px 3px 5px rgba(0,0,0,0.2); position: relative; z-index: 1; background-color: #FFFFFF; max-height: 204px; overflow: auto;}
.dropdownselect-list li {border-bottom: 1px solid #DDD; background: 15px 50% no-repeat;font-size: 14px;}
.dropdownselect-list li:last-child {border-bottom: none;}
.dropdownselect-list li:hover {background-color: #f7f7f7;}

ul.has-thumb {max-height: 216px;}
li.has-thumb {display: block; line-height: 72px; padding-left: 60px;}
li.no-thumb {display: block; line-height: 30px; padding-left: 10px;padding-top:5px;padding-bottom:5px;}

[class*="span"].dropdownselect-list:not([class*="offset"]) {
	margin-left: 0;
}
.dropdownselect .add-on {
	background-color: #CCC;
	position: relative;
	z-index: 99;
	padding: 0 5px;
}

/* responsive styles for dropdownselect */

@media (min-width: 767px){
	.dropdownselect-list {
		margin-top: 54px;
	}

	.dropdownselect-list.no-label {
		margin-top: 49px !important;
	}
}

@media (max-width: 767px){
	.add-on i {
		font-size: 14px;
		line-height: 24px;
		text-indent: 0;
	}
	.dropdownselect-list {
		margin-top: -51px;
	}
.dropdownselect-list.no-label {
			margin-top: -11px;
}	
}



