html, .chat-link, .claimstep, body, span, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, input, div {
	behavior: url('../styles/base/PIE.htc');
}

.offset1 {margin-left: 100px !important;}
.offset2 {margin-left: 180px !important;}
.offset3 {margin-left: 260px !important;}
.offset4 {margin-left: 340px !important;}
.offset5 {margin-left: 420px !important;}
.offset6 {margin-left: 500px !important;}
.offset7 {margin-left: 580px !important;}

.input-append {margin-left: 0px !important;}

main {
  display: block;
}

#get-started [class^="item"], .stepbar {
	position: relative;
	z-index: 1;
}

.chat-link, .claimstep {
	position: relative;
  z-index: 1;
}

ul.ddslist {
	margin-left: -20px;
	margin-top: 60px;
}

.dropdownselect-list.offset1 {
	margin-left: 0 !important;
	margin-top: 20px;
}
.dropdownselect-list {
	margin-top: -10px;
}
#charcount {
	clear: both;
	float: left;
	width: 100%;
	text-align: right;
}

.affected-accessory label {
	padding-left: 0;
}
input[type=text]::-ms-clear { display: none; }

.radio input {
  padding-top: 21px;
  margin-left: 10px !important;
}

.affected-accessory .radio input {
	padding-top: 2px;
}

.radio label {
  padding-left: 10px;
}

.modal-body .radio label {
  padding: 3px 0 30px 0;
  display: block;
}

.table td {
	padding-left:8px;
	padding-right:8px;
}
#date-of-birth {
	margin-left:180px !important;
}
.chat-flag {
	z-index:9999 !important;
	opacity:1 !important;
	right:0 !important;
}
