/* CUSTOM RESPONSIVE STYLES */

@media (max-width: 1025px) and (min-width: 979px){
	#ccbox {
	margin-top: -30px !important;
	margin-bottom: 40px;
	}
}

@media (max-width: 767px) {
	body {
		padding-right: 0;
		padding-left: 0;
	}
	.container {
		max-width: 95%;
	}	
	.claimstep {
		padding:0 20px 20px 20px
	}
	.change-device-button {
		margin-bottom: 0 !important;
		font-size: 14px;
	}
	.btn i {
			display:none;
	}
	.well.inner-bottom {
		margin:60px -19px -19px -19px;
	}
	.additional-accessories .span2 {
		width:166px;
	}
	.table.claim-details tr td:first-child {
		width:30%;
	}
	#name-card, #card-number {
		width:90%;
	}
	.input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
	min-height: 50px;
	}
}

@media (max-width: 640px) {
	.claimstep {
		padding:0 20px 20px 20px;
	}
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
		height:50px;
	}
	.change-device-button {
		margin-bottom: 0 !important;
	}
	.affected-accessory p {
		margin-left:0;
	}
	.affected-accessory .radio {
		margin-top:10px;
	}
		.change-device-button {
		margin-bottom: 0 !important;
		font-size: 16px;
	}
	.well.inner-bottom {
		margin:20px -19px -19px -19px;
	}
	#state, #country, #incident-date, #expiration-month, #expiration-year{
		width:100%;
	}
	#expiration-month, #expiration-year, #shippingmethod{
		width:90%;
	}
	#cvv {
		width:40%;
		float:left;
	}
	#ccbox {
	margin-top: -30px !important;
	margin-bottom: 40px;
	}
	.help-icon {
		margin-top:5px;
	}
	.business-account p {
		line-height: 40px;
		text-align: left;
	}
	.business-account .radio {
		float: left;
		width: 50%;
		margin-bottom:20px;
	}
	.claim-details .dropdownselect-list{
		margin-top: -11px;
	}
	#successpage .row {
			display:-ms-flexbox; /* Internet Explorer 10 */
			display:-moz-box; /* Firefox */
			display:-webkit-box; /* Safari and Chrome */
			display:box;
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;
			-ms-box-orient: vertical;
			box-orient: vertical;	
		}
		#successpage .span3 {
			-ms-flex-order:1; /* Internet Explorer 10 */
			-moz-box-ordinal-group:1; /* Firefox */
			-webkit-box-ordinal-group:1; /* Safari and Chrome */
			box-ordinal-group:1;
			margin-bottom:40px;
		}
		
		#successpage .span7 {
			-ms-flex-order:2; /* Internet Explorer 10 */
			-moz-box-ordinal-group:2; /* Firefox */
			-webkit-box-ordinal-group:2; /* Safari and Chrome */
			box-ordinal-group:2;	
		}
		#additional-accessories .span2 {
			margin-bottom: 30px;	
		}
	#affected-device-search {
		margin-bottom: 20px;
	}
}


@media (max-width: 480px) {
	.claimstep {
		padding:0 20px 20px 20px;
	}
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
		height:50px;
	}
	header {
		padding-bottom: 45px;
	}
	.logo {
		float: none;
		margin: 0 auto 15px auto;
	}
	.links {
		float: none;
	}
	.change-device-button {
		margin-bottom: 0 !important;
	}
	.affected-accessory p {
		margin-left:0;
	}
	.affected-accessory .radio {
		margin-top:10px;
	}
	.change-device-button {
		margin-bottom: 0 !important;
		font-size: 16px;
	}
	.well.inner-bottom {
		margin:20px -19px -19px -19px;
	}
	#state, #country, #incident-date, #expiration-month, #expiration-year{
		width:100%;
	}
	#expiration-month, #expiration-year, #shippingmethod{
		width:85%;
	}
	#cvv {
		width:40%;
		float:left;
	}
	#ccbox {
		margin-top: -30px !important;
		margin-bottom: 40px;
	}
	.help-icon {
		margin-top:5px;
	}
	.business-account p {
	line-height: 40px;
	text-align: left;
	}
	.business-account .radio {
		float: left;
		width: 50%;
		margin-bottom:20px;
	}
	.claim-details .dropdownselect-list{
		margin-top: -11px;
	}
	#successpage .row {
			display:-ms-flexbox; /* Internet Explorer 10 */
			display:-moz-box; /* Firefox */
			display:-webkit-box; /* Safari and Chrome */
			display:box;
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;
			-ms-box-orient: vertical;
			box-orient: vertical;	
		}
		#successpage .span3 {
			-ms-flex-order:1; /* Internet Explorer 10 */
			-moz-box-ordinal-group:1; /* Firefox */
			-webkit-box-ordinal-group:1; /* Safari and Chrome */
			box-ordinal-group:1;
			margin-bottom:40px;
		}
		
		#successpage .span7 {
			-ms-flex-order:2; /* Internet Explorer 10 */
			-moz-box-ordinal-group:2; /* Firefox */
			-webkit-box-ordinal-group:2; /* Safari and Chrome */
			box-ordinal-group:2;	
		}
		.modal-body {
			max-height: 300px;
		}
		.modal-body p {
			padding: 10px;
		}
}
@media (max-width: 320px) {
	.datepicker {
		max-width: 250px;
	}
	.datepicker-days, .dow {
		padding: 5px 10px;
	}
	.datepicker-days table.table-condensed td {
		padding: 5px;
	}	
	.container {
		max-width:290px;
	}
/*.table-bordered thead:first-child tr:first-child > th:last-child p, .table-bordered tbody:first-child tr:first-child > td:last-child p, .table-bordered tbody:first-child tr:first-child > th:last-child p, .table-bordered thead:last-child tr:last-child > th:last-child p, .table-bordered tbody:last-child tr:last-child > td:last-child p, .table-bordered tbody:last-child tr:last-child > th:last-child p, .table-bordered tfoot:last-child tr:last-child > td:last-child p, .table-bordered tfoot:last-child tr:last-child > th:last-child p {
	width:80%;
}*/
.page-title {
margin-top: 20px;
margin-bottom: 20px;
font-size: 24px;
line-height: 30px;
}
.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child, .table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child, .table.claim-details tr td:first-child, .table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child, .table-bordered tbody:last-child tr:last-child > th:last-child, .table-bordered tfoot:last-child tr:last-child > td:last-child, .table-bordered tfoot:last-child tr:last-child > th:last-child, .table.claim-details tr td:nth-child(2) {
	width:100%;
	float:left;
	display:table;
}
/*#state, #country, #incident-date, #expiration-month, #expiration-year{
	width:100%;
}
#expiration-month, #expiration-year, #shippingmethod, #name-card, #card-number  {
	width:83%;
}*/
.view-shipping .table.claim-details tr td:first-child, .payment-information .table.claim-details tr td:first-child, #confirm-details .table.claim-details tr td:first-child {
display: table;
width: 100%;
float: none;
padding: 10px;
text-align: left;
}

#device-questions h2 {
	color: #666;
	font-size: 18px;
	line-height: 20px;
}
.well img {
	width:50%;
	height:50%;
}
.table .table {
	width:80%;
}
.table .table td, .table .table th {
	display: table-cell !important;
	font-size: 12px;
	padding: 8px 0 !important;
	float:none !important;
}
.checkbox-lg, .cheekybox-lg {
	margin-right:10px;
}
.checkbox-lg-label, .cheekybox-lg-label {
	font-size: 14px;
}

#confirm-details .well.secondary {
	padding:10px;
}
#successpage .row {
		display:-ms-flexbox; /* Internet Explorer 10 */
		display:-moz-box; /* Firefox */
		display:-webkit-box; /* Safari and Chrome */
		display:box;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-ms-box-orient: vertical;
		box-orient: vertical;	
	}
	#successpage .span3 {
		-ms-flex-order:1; /* Internet Explorer 10 */
		-moz-box-ordinal-group:1; /* Firefox */
		-webkit-box-ordinal-group:1; /* Safari and Chrome */
		box-ordinal-group:1;
		margin-bottom:40px;
	}
	
	#successpage .span7 {
		-ms-flex-order:2; /* Internet Explorer 10 */
		-moz-box-ordinal-group:2; /* Firefox */
		-webkit-box-ordinal-group:2; /* Safari and Chrome */
		box-ordinal-group:2;	
	}
	.dropdownselect-list {
		max-width: 200px;
	}
	footer a {
		font-size:	10px;
	}
	.modal-body {
		max-height: 300px;
		font-size:14px;
	}
	.modal-body p {
		padding: 5px;
	}
	.modal-header {	
	padding: 5px 15px;
	}
	.modal-header h2{	
	font-size: 18px;
	line-height: 20px;
	}

@media (max-width: 979px) and (min-width: 768px) {
	.view-shipping .span8, .payment-information .span8, #confirm-details .span8{
		width:724px;
		margin-left:20px;
	}
	.btn i {
		display:none;
	}
	.btn.has-icon {
		font-size: 14px;
		padding:0 10px;
	}
	#changedevice .span6 {
		width:505px;
	}
	#changedevice #affected-device-search {
		width:80%;
	}
	#incident-date {
		width:342px;
	}
	.well img {
		width:50%;
		height:50%;
	}
	#additional-accessories .span2{
		width:105px;
		margin-bottom: 20px;
	}
	.well.inner-bottom {
	margin: 60px -19px -19px -19px;
	}
	#changedevice .span7 {
		width: 95%;
	}
}
