html {
	background: #F7f7f7 !important;	
	}
body {
	background: #f7f7f7 !important;
}


/* Header Styling */
header { 
	border-top-color: #015495;
	height:55px; 
}

.logo { 
	height: 33px;
	width: 140px;
}

.stepbar {
	border-bottom: 3px solid #015495;
}

.chat-link {
	border: 1px solid #CCC;
	margin-top: 0;
	padding: 10px 15px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #fff;
}


.datepicker-days table.table-condensed th.prev, .datepicker-days table.table-condensed th.next { color: #00a8e1; }
td.day.active, td.active.new { background-color: #00a8e1;  color: #FFFFFF !important; }
td.day:active, span.year:active, span.month:active { background-color: #00a8e1; color: #FFFFFF !important; }


/* icon colors */
i.carrier-color { color: #015495; }
.stepbar i { color: #015495; }
.icon-chat:before {color: #015495;}
.chat-link:hover { color: #015495;}
i.large{ color: #015495; }
.expandable i.icon-tooltip-question { color: #015495; }
a:hover { color: #015495; }
.next_steps li { color: #015495; }
i.large { border-color: #DDD; }

.help-icon { 
	color: #015495;
	font-size: 24px; 
	margin-left: 10px;
	width: 24px;
	height: 24px;
	margin-top:-25px; 
}
.help-icon-small { 
	color: #015495;
	font-size: 16px; 
	margin-left: 10px;
	width: 16px;
	height: 16px;
	margin-top:-1px; 
}
/* Footer Styling */
footer { background: #000; }
footer a { color: #BBB; }
.footer-links li:before { color: #BBB; }
.footer-links li a:hover { color: #00a8e1; }

/* Sticky Footer Styling */
.pre-footer { margin-bottom: -80px; /* the bottom margin is the negative value of the footer's height */ }
footer, .push { height: 80px; /* .push must be the same height as .footer */ }
footer {
	position: absolute;
	width:100%;
}



