<script type="text/javascript">
$(document).ready(function() {
	$('#change-device').carousel({
	interval: false
	})
});
</script>

   <script type="text/javascript" language="javascript">

$(document).ready(function(){
$('#device-search-button').click(function(){
$('#change-device').slideToggle('slow');
});
});
   </script>

<style type="text/css">
.carousel {
    margin-bottom: 40px;
}
.carousel-control {
	top:20px;
    font-size: 24px;
    border-radius: 0;
    border:0;
    line-height: 190px;
    font-family: Asurion;
}
.carousel-control.right {
	height: 100%;
    background:#ddd;
    right:0;
    border-radius: 0 6px 6px 0;
}
.carousel-control.left {
    height: 100%;
    background:#ddd;
    left:0;
    border-radius: 6px 0 0 6px;
}
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -25px;
	margin-right: -19px;
}

.carousel-indicators li {
	background: #ccc;
    padding:0;
}

.carousel-indicators .active {
    background: #666;
}
p.caption {
    font-size: 12px;
    text-align: center;
    padding: 0;
    font-family:'proxima_nova_bold';
    margin: 0;
}
.carousel .row .span1 {
width: 28%;
text-align: center;
float: left;
}
.carousel .row {
    margin-left: 0;
}
#device-search-button {
    margin-top:0;
}
@media (min-width: 1200px){


.carousel .row .span1 {
    width: 27.5%;
}

}

@media (max-width: 767px) {

    .carousel-control {
     line-height: 190px;       
    }
.carousel-inner {
width: 92%;
}
.carousel .row .span1 {
width: 32%;
}
}
@media (max-width: 320px){


.carousel .row .span1 {
width: 30%;
text-align: center;
margin: 0 3px;
float: left;
}
.carousel-control {
line-height: 120px;
}
.carousel-inner {
position: relative;
width: 83%;
margin-left: 20px;
}
p.caption {
font-size: 10px;
}

}
</style>


<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h2 id="changedevicelabel">Search for the affected device</h2>
</div>

<div class="modal-body">
        <div class="row text-center">
            <div class="span7">
                <label for="affected-device-search">Search for the affected device</label>                 
                <input type="text" name="contact-number" placeholder="Enter the affected device name" id="affected-device-search"  class="span5" />
                <a class="btn span1 has-icon margin-top-0" id="device-search-button">search</a>
            </div>
        </div>

	    <div id="change-device" class="carousel slide" style="display:none;">

<div class="pagination pagination-mini">
<ul>
<li><a href="#">Prev</a></li>
<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">Next</a></li>
</ul>
</div>

        <!-- Carousel items -->


    <div class="well secondary">  
        <div class="carousel-inner">    

            <div class="item active">
                <div class="row">
                  <div class="span1"><a data-dismiss="modal" aria-hidden="true"><img src="../assets/images/iphoneW.gif" /></a><p class="caption">Apple iPhone 4s White 8GB</p></div>
                  <div class="span1"><a data-dismiss="modal" aria-hidden="true"><img src="../assets/images/iphoneW.gif" /></a><p class="caption">Apple iPhone 4s White 16GB</p></div>
                  <div class="span1"><a data-dismiss="modal" aria-hidden="true"><img src="../assets/images/iphoneW.gif" /></a><p class="caption">Apple iPhone 4s White 32GB</p></div>
                </div>
            </div><!--/item-->
             
            <div class="item">
                <div class="row">
                    <div class="span1"><a data-dismiss="modal" aria-hidden="true"><img src="../assets/images/iphoneB.gif" /></a><p class="caption">Apple iPhone 4s Black 8GB</p></div>
                    <div class="span1"><a data-dismiss="modal" aria-hidden="true"><img src="../assets/images/iphoneB.gif" /></a><p class="caption">Apple iPhone 4s Black 16GB</p></div>
                    <div class="span1"><a data-dismiss="modal" aria-hidden="true"><img src="../assets/images/iphoneB.gif" /></a><p class="caption">Apple iPhone 4s Black 32GB</p></div>
                </div>
            </div><!--/item-->

        </div><!--/carousel-inner-->

         <a class="left carousel-control" href="#change-device" data-slide="prev">&#xe015;</a>             
         <a class="right carousel-control" href="#change-device" data-slide="next">&#xe016;</a>
    </div>
    </div>
</div>

    <div class="modal-footer">
    	<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
