<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h2 id="contactinfolabel">Contact Information</h2>
</div>

<div class="modal-body">
  	<p>Please contact us at 1-888-562-8662 and an Asurion Customer Service Representative will be happy to further assist you.</p>

  	<p class="margin-bottom-20">Customer Service Representatives are available Monday through Friday between 7am and 9pm CST or Saturday and Sunday between 8am and 7pm CST.</p>
</div>

<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
