<footer>
	<div class="container">
		<div class="row">
		<div class="span12">

			<div class="footer-links">
				<ul>
					<li><a data-target="#tsandcs" data-toggle="modal">Terms &amp; Conditions</a></li>
					<li><a data-target="#privacypolicy" data-toggle="modal">Privacy Policy</a></li>
					<li><a data-target="#contactinfo" data-toggle="modal">Contact Us</a></li>
				</ul>
			</div>

		</div>
		</div>
	</div>
</footer> 

<div id="privacypolicy" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="privacypolicylabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h2 id="privacypolicylabel">Asurion Privacy Policy</h2>
	</div>
	<div class="modal-body">
		<h5>Effective Date: August 15, 2012</h5>
		<p><strong>General Information:</strong> Asurion.com (the “Site”) is a website that is operated by and for Asurion, LLC (“Asurion”). Asurion respects the privacy of visitors who use the Site. This Privacy Policy describes how Asurion treats Your use of the Site, including the handling of Your personal information. Asurion reserves the right to revise or update this Privacy Policy at any time, and You agree to be bound by those revisions or updates. Asurion will notify You of any changes to the Privacy Policy by posting the revised or updated Privacy Policy and its Effective Date on the Site. Your use of the Site thereafter constitutes Your agreement to and acceptance of the Privacy Policy and its revisions or updates. You should periodically read the Privacy Policy to learn of any revisions or updates. If You do not agree to any terms of the Privacy Policy, please do not use the Site.</p>
		<p><strong>INFORMATION COLLECTION:</strong> Asurion may share both Your personally identifiable information and non-personally identifiable information with its affiliates, subsidiaries, partners and other third parties, such as third parties who help operate the Site and its related databases.</p>
		<p><strong>Non-Personally Identifiable Information:</strong> Asurion gathers certain broad, non-personally identifiable information (“Non-PII”) about use of the Site, including the number of unique visitors to the Site, the frequency with which they visit the Site and the services preferred by those visitors on the Site. Asurion looks at the data regarding use of the Site in summary form, rather than on an individual basis. Asurion gathers this Non-PII data so it can learn, for example, which pages of the Site are the most and least viewed by visitors and which third-party websites are referring visitors to the Site. The Non-PII data helps Asurion determine the extent to which visitors use certain parts of the Site and allows Asurion to tailor the Site in the future. In connection with these activities, Asurion may use the following standard technologies to collect information:</p>
		<ul>
		<li><strong>Cookies:</strong> A cookie is a small, removable data file that is stored by Your web browser on Your computer. Asurion uses cookies to, among other things, identify Your computer during a particular visit to the Site and analyze Your behavior during a particular visit. Asurion does not store personal or sensitive information in cookies. Most Web browsers provide You with the ability to accept or decline cookies, as well as to be warned each time a cookie is being sent. If You choose to decline cookies, however, You may not be able to take advantage of all aspects of the Site.</li>
		<li><strong>Pixel Tags:</strong> Pixel tags, also known as beacons or clear GIFs, help Asurion better manage content on the Site by informing it of what content is effective. Pixel tags are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of Web users. In contrast to cookies, which are stored on a user’s computer hard drive, pixel tags are embedded invisibly on Web pages.</li>
		<li><strong>IP Addresses:</strong> Asurion collects and analyzes traffic on the Site by keeping track of the IP addresses of its visitors. An IP address is the unique numeric identifier assigned to each computer browser accessing the Internet. An IP address, by itself, cannot identify You personally. However, when combined with other information provided by Your Internet service provider, Your IP address can be used to identify the computer originating a message.</li>
		</ul>
		<p><strong>Personally Identifiable Information:</strong> Certain areas of the Site require You to provide personal information to Asurion. The Personally Identifiable Information (“PII”) that Asurion collects may include Your name, phone number, e-mail address, wireless carrier, password, personal identification number, claim ID, date of service or similar information. By submitting PII to Asurion, You agree that Asurion may use the information in accordance with this Privacy Policy. If You do submit PII to Asurion, Asurion may share that information with third parties, in addition to using that information for the purposes for which it was submitted by You. Asurion may also use Your PII in other ways, such as to provide You with information about products and offers that may be of interest to You, to seek follow-up from You about Your experiences with Asurion or as otherwise disclosed to You at the point of collection. Asurion may share Your PII with its affiliates, subsidiaries and partners and with other third parties for similar purposes. Additionally, to the extent required by applicable federal or state law, Asurion will provide Your PII to others. By submitting PII to Asurion, You give Asurion permission to receive it, review it, edit it, store it and use it in appropriate ways and settings.</p>
		<p><strong>PROTECTION OF PII:</strong> Asurion uses commercially reasonable safeguards to maintain the confidentiality of Your PII. Asurion will take appropriate technical and organizational measures to protect Your PII against: (1) accidental or unlawful destruction; (b) accidental loss; and (c) unauthorized alteration, disclosure or access. However, no security systems are impenetrable, and Asurion cannot guarantee the security of the Site or its databases, nor can Asurion guarantee that the information that You supply to Asurion will not be intercepted while being transmitted over the Internet.</p>
		<p><strong>SHARING OF PII AND NON-PII:</strong> For the purpose of operating its business, Asurion may transfer PII and Non-PII to service providers who use that information only to provide services to Asurion. For example, service providers may handle e-mail distribution, market research, information analysis and promotions management on behalf of Asurion. Asurion may also share PII and Non-PII in order to administer a Site feature. Asurion provides its service providers with the information they need to perform their services and works with them to protect Your information. In order to better understand Your preferences and better serve You, Asurion may combine information that it receives from You with information that it has or that it receives from other sources, transactions and communications. This may include information from the Site, as well as information from Asurion’s contractors, direct mailings, events or other marketing efforts. Asurion also may combine the information that it receives from You with data that is publicly available and data that it receives from other reputable sources.</p>
		<p><strong>LEGAL AUTHORITIES:</strong> Asurion reserves the right to share PII that You provide to Asurion with legal authorities if it is, in the sole opinion of Asurion, necessary to investigate, prevent or otherwise take action regarding suspected fraud, situations involving threats or potential harm or if otherwise required by law (such as by a subpoena, court order or other legal means). In the event that Asurion reasonably believes that You have violated any of the terms or policies governing Your use of the Site, Asurion reserves the right to use any information it has collected about You in connection with any efforts it makes or are made by any agents on its behalf.</p>
		<p><strong>TRANSFER OF PII AND NON-PII:</strong> Asurion may transfer to or share Your PII and any Non-PII with an affiliate or third party as part of a transfer of business assets. Such a transfer would be within the scope of this Privacy Policy so long as the affiliate or third party agrees to continue to maintain use and storage of Your PII in accordance with this Privacy Policy.</p>
		<p><strong>THIRD PARTY SITES:</strong> The Site may contain links to other websites, including websites operated by third parties. Please be aware that those websites may collect PII from or about You and Non-PII about Your visit. You should review the privacy policies that are posted on any website that You visit, before using the website and providing PII to the website. Asurion is not responsible for the privacy policies or practices of any websites that may be mentioned on, or accessible from, the Site.</p>
		<p><strong>ONLINE ADVERTISEMENTS:</strong>Asurion works with other companies that use tracking technologies to serve ads on its behalf across the Internet. Those companies may collect Non-PII about Your visits to the Site and Your interaction with Asurion’s communications, including advertisements. Our advertising partners may use cookies and pixel tags on the Site and on third party websites on which Asurion advertisements appear, which allows those partners to track certain information about user behavior, such as “click stream data.” Any use of information by an advertising partner would be governed by their privacy policy, so You should become familiar with those policies prior to responding to online advertisements.</p>
		<p><strong>SECURITY OF INFORMATION:</strong>Information submitted via the Internet, including through a web page or e-mail is subject to interception or incorrect routing, and the Internet is not a fully secure communications channel. Please consider this prior to submitting any information to Asurion via the Site. While Asurion follows generally accepted industry standards to protect the information submitted to us, no method of transmission over the Internet, or method of electronic storage, is 100 percent secure. Therefore, while Asurion strives to use commercially acceptable means to protect Your personal information, Asurion cannot guarantee its absolute security.</p>
		<p><strong>INTERNATIONAL USERS:</strong> The Site is operated, in whole or in part, from the United States. By using the Site, regardless of where You live in the world, You consent to have Your personal information transferred to and processed in the United States and to allow Asurion to use and collect Your personal information in accordance with this Privacy Policy.</p>
		<p><strong>CONTACT US:</strong> If You have any questions about the Privacy Policy, You may contact Asurion by e-mail at <a href="mailto:privacy@asurion.com" class="underline">privacy@asurion.com</a>.</p>  	
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>


<div id="claimcreated" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="claimcreatedlabel" aria-hidden="true">
  <div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  	<h2 id="claimcreatedlabel">Thank you! Your claim is created.</h2>
  </div>
  <div class="modal-body">
    <p>You will receive an email containing your claim ID as well as the wireless number of the device you&rsquo;re claiming. You will need both of these numbers to log in to resume or track your claim.</p>
    <p>Your Claim ID is <span class="strong">12345678</span><br />
    Your wireless number is <span class="strong">(415) 555-5555</span></p>
    <p id="printclaiminfo"><a data-dismiss="modal" class="btn has-icon"><i class="icon-print"></i>print claim information</a></p>
  </div>
  <div class="modal-footer">
  	<!-- <button class="btn btn-primary btn-active step-continue" id="step1submit">Continue</button> -->
      <button class="btn btn-primary btn-active step-continue" id="validateinputs" data-dismiss="modal">Continue</button> 
  </div>
</div>


<div id="tsandcs" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="tsandcslabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h2 id="tsandcslabel">Website Terms &amp; Conditions</h2>
	</div>

	<div class="modal-body">
		<h5>Effective Date: August 15, 2012.</h5>
		<p><strong>Scope of Use:</strong> Asurion, LLC (“Asurion”) invites you to view, use and download a single copy of this Web site <a href="http://www.asurion.com" target="_blank" title="Asurion">(www.asurion.com)</a> (the “Site”) for Your informational, noncommercial use, provided that you leave all copyright, trademark and other proprietary notices intact. For the purpose of this Agreement, references to “We”, “Us” and “Our” include Asurion and its affiliates, agents, representatives, successors and assigns. Using this Site to evaluate whether to enter into a business relationship with Asurion shall not constitute a commercial use for the purposes hereof.  It is a violation of these Terms &amp; Conditions for you to use the Site in violation of any applicable laws and regulations or in violation of the rules of any Asurion service providers. Certain other programs or services provided by Asurion through linked websites or other channels may have additional terms and conditions regarding Your use of those services, and nothing in these Terms &amp; Conditions is intended to modify such terms and conditions. YOU MAY NOT USE THIS SITE IF YOU DO NOT AGREE TO THESE WEBSITE TERMS AND CONDITIONS.</p>
		<p><strong>Restrictions on Use:</strong> You shall use the Site strictly in accordance with this Agreement and in a manner consistent with all applicable laws and regulations. You will not take any of the following actions with respect to the Site or the server nor will you use our Site to upload, post, email, distribute, transmit, link, solicit or otherwise make available any content or use the Site in any manner that: (i) decompiles, uses reverse engineering, disassembles, derives the source code of or decrypts the Site or server hosting the Site; (ii) violates any applicable laws, rules or regulations in connection with Your access to or use of the Site; (iii) removes, obscures, or alters any proprietary notices (including any notice of copyright or trademark) of Asurion or its affiliates, partners, suppliers or the licensors; (iv) modifies, adapts, improves, enhances or makes any derivative work from the Site; (v) interferes with or interrupts the Site or any hardware, software, system or network connected with the Site; (vii) infringes the copyright, trademark or any intellectual property rights or discloses a trade secret or confidential information in violation of a confidentiality or non-disclosure agreement; (viii) compiles, uses, downloads or otherwise copies any user information or any portion thereof, or transmits, provides or otherwise distributes (whether or not for a fee) such information to any third party; (ix) is fraudulent or unlawful or contains defamatory or illegal information, images, materials or descriptions; (x) promotes or provides instructions for illegal activities; (xi) encourages any conduct that would constitute a criminal offense or that gives rise to civil liability; or (xii) disseminates viruses or other computer code, files or programs that interrupt, destroy or limit the functionality of any computer software or hardware.</p>
		<p><strong>Privacy Policy:</strong> You may view a copy of our privacy policy which explains Asurion’s practices relating to the collection and use of Your information through or in connection with our Site. The privacy policy is incorporated into these Terms &amp; Conditions, and governs Asurion’s use of Your information and/or any information You submit or otherwise make available to us in connection with the Site.</p>
		<p><strong>REGISTRATION &amp; SECURITY:</strong> If You provide us any information through the Site, such as Your name, phone number, contact details, email address, wireless carrier information, Your password and/or personal identification number (PIN) (collectively, Your “Account Data”) for any accounts associated with Your device (“Your Account(s)”), You agree to provide true, accurate, current, complete and up-to-date information. If You provide any information that is untrue, inaccurate, non-current or incomplete, or We have reasonable grounds to suspect that such information is untrue, inaccurate, non-current or incomplete, then We have the right to terminate or refuse any and all current or future use of the Site (or any portion thereof). We reserve the right to take any action that We deem necessary to ensure the security of the Sites and Your Account, including without limitation changing your password, terminating Your Account, or requesting additional information to authorize transactions on Your Account. You are solely responsible for keeping Your Account Data and any security questions and responses associated with Your Account confidential. Anyone with knowledge of or access to Your Account Data or the security questions and responses associated with Your Account can use that information to gain access to Your Account. You are solely liable for any claims, damages, losses, costs or other liabilities resulting from or caused by any failure to keep Your Account Data and the security questions and responses confidential, whether such failure occurs with or without Your knowledge or consent. You will immediately notify Us of any suspected or actual unauthorized access to or use of Your Account Data or any other breach of Your Account security. You hereby authorize and consent to the collection, storage, sharing, use, transfer and sale by Asurion and its service providers, of any information and data related to or derived from Your use of the Site.</p>
		<p><strong>No Warranties:</strong> ALL CONTENT ON THIS SITE IS PROVIDED TO YOU ON AN “AS-IS,” “AS-AVAILABLE” BASIS WITHOUT WARRANTY OF ANY KIND EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. ASURION MAKES NO WARRANTY AS TO THE ACCURACY, COMPLETENESS, CURRENCY OR RELIABILITY OF ANY CONTENT AVAILABLE THROUGH THIS SITE. YOU ARE RESPONSIBLE FOR VERIFYING ANY INFORMATION BEFORE RELYING ON IT. USE OF THE SITE IS AT YOUR SOLE RISK.<br /><br />ASURION MAKES NO REPRESENTATIONS OR WARRANTIES THAT USE OF THE SITE WILL BE UNINTERRUPTED, COMPLETELY SECURE OR ERROR-FREE. You are responsible for taking all precautions necessary to ensure that any content you may obtain from the Site is free of viruses.</p>
		<p><strong>Trademarks:</strong> All trademarks, service marks and logos that are used or displayed on the Sites are owned by Asurion or by third parties and are the property of their respective owners.  Asurion owns various trademarks, service marks and logos that may be used on the Site, including without limitation, Asurion (&amp; Design), Our Passion is Your Peace of Mind, Mobile Recovery, lock\line (&amp; Design), Mobile Guard, Mobile Recovery, MobileProtect, Rescue Link, and Wireless Phone Protection. You must obtain Asurion’s written permission prior to using any trademark or service mark of Asurion. Unauthorized use of any trademarks, service marks or logos used on the Site may be a violation of state, national and international trademark laws.  Additionally, Asurion’s custom icons, graphics, logos and scripting on the Site are covered by trademark, trade dress, copyright or other proprietary right law, and may not be copied, modified or used, in whole or in part, without the prior written permission of Asurion.</p>
		<p><strong>Website Content &amp; Copyright:</strong> This Site and the content contained on this Site is protected by U.S. and international copyright laws. You may not modify, reproduce or distribute the content, design or layout of the Site or individual sections of the content, design or layout of the Site or Asurion trademarks or logos without our written permission. The layout, compilation, organization and display of the content as well as all software and inventions used on and in connection with this Site are the exclusive property of Asurion. Asurion reserves all of its rights in the Site and its content.</p>
		<p><strong>Copyright Infringement Notification:</strong> Asurion has a policy of removing data or content that violates applicable copyright law. Pursuant to Section 512 of Title 17 of the United States Code, Asurion has implemented procedures for receiving written notification of claimed copyright infringement and for processing such claims in accordance with the law. To file a copyright infringement notification with us, You will need to send a written communication to Asurion’s Designated Agent, listed below, containing substantially the following information or such other information as may be required by Section 512(c)(3) of the Copyright Act: (i) a physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; (ii) identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site; (iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material; (iv) information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted; (v) a statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (vi) a statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. Please direct any such notice to Asurion Legal Department, 648 Grassmere Park, Nashville, TN 37211 or contact by email at <a href="mailto:DMCAnotification@asurion.com">DMCAnotification@asurion.com</a>. The foregoing contact information is for use solely with notice of copyright infringement and You may not receive a response to any other communications, feedback, comments or requests for technical support delivered to the foregoing address or e-mail.</p>
		<p><strong>Modifications:</strong> Asurion reserves the right to modify this Site and the rules and regulations governing its use, at any time. Modifications will be posted on the Site and the “last updated” date at the top of this web page will be revised.  You understand and agree that if you use this Site after the date on which the Terms &amp; Conditions have changed, Asurion will treat Your use as acceptance of the updated Terms &amp; Conditions.  Asurion may make changes in the products and/or services described in this Site at any time.</p>
		<p><strong>Violation of Rules and Regulations:</strong> Asurion reserves the right to seek all remedies available at law and in equity for violations of the rules and regulations set forth in this Site, including the right to block access from a particular Internet address to the Site.</p>
		<p><strong>Indemnity:</strong> You agree to indemnify and hold Asurion and its subsidiaries, affiliates, officers, agents, employees, partners and licensors harmless from and against any and all losses, claims, demands, expenses, damages and costs, including reasonable attorneys' fees, made by any third party due to or arising out of Your use of the Site, Your violation of these Terms &amp; Conditions, or Your violation of any law or any rights of another. Asurion reserves the right, at Your expense, to assume the exclusive defense and control of any matter which You are required to indemnify against, and You agree to cooperate in Asurion’s defense of such matter. This indemnification shall survive any termination of this Agreement.</p>
		<p><strong>Limitation of Liability:</strong> ASURION SPECIFICALLY DISCLAIMS ANY LIABILITY, WHETHER BASED IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL OR SPECIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH ACCESS TO OR USE OF THE SITE, EVEN IF ASURION HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, INCLUDING BUT NOT LIMITED TO RELIANCE BY ANY PARTY ON ANY CONTENT OBTAINED THROUGH USE OF THIS SITE, OR THAT ARISES IN CONNECTION WITH MISTAKES OR OMISSIONS IN, OR DELAYS IN TRANSMISSION OF, INFORMATION TO OR FROM THE USER, INTERRUPTIONS IN TELECOMMUNICATIONS CONNECTIONS TO THE SITE OR VIRUSES, WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS FAILURE, THEFT OR DESTRUCTION OF, OR UNAUTHORIZED ACCESS TO THE SITE, OR RELATED INFORMATION OR PROGRAMS.<br /><br />Some jurisdictions do not allow exclusions of liability for certain types of damages.  Accordingly, some of the above limitations may not apply to you to the extent prohibited by law.  In such cases, Asurion’s liability will be limited to the fullest extent permitted by applicable law.</p>
		<p><strong>Third Party Sites:</strong> Some links in this Site may navigate you away from Asurion’s Site or redirect you to other websites, including websites operated by third parties. Please be aware that those websites may collect PII from or about You and Non-PII about Your visit. The linked sites are not under the control of Asurion, and the content available on the Internet sites linked to this Site does not necessarily reflect the opinion of Asurion. Asurion is providing these links to other Internet sites as a convenience to you, and access to any other Internet sites linked to this Site is at Your own risk. The inclusion of any link does not imply a recommendation or endorsement by Asurion of the linked site. You should review the terms of use and privacy policies that are posted on any website that You visit, before using any linked websites.</p>
		<p><strong>Governing Law and General Principles:</strong> This Site is operated by Asurion from its offices within the United States of America. Asurion makes no representation that the information in the Site is appropriate or available for use in other locations, and access to the Site from territories where the contents of the Site may be illegal is prohibited. Those who choose to access this Site from other locations do so, on their own initiative and are responsible for compliance with applicable local laws. By using the Site, regardless of where You live or are located in the world, You consent to these Terms &amp; Conditions and any claims relating to the information, services or products made available through this Site will be governed by the laws of the State of Tennessee, U.S.A., excluding the application of its conflicts of law rules.  If any provision of these Terms &amp; Conditions shall be deemed unlawful, void, or for any reason unenforceable, then that provision will be deemed severable from these Terms &amp; Conditions and will not affect the validity and enforceability of any remaining provisions.  Asurion’s failure to enforce the strict performance of any provision of these Terms &amp; Conditions will not constitute a waiver of Asurion’s right to subsequently enforce such provision or any other provisions of these Terms &amp; Conditions.</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="contactinfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactinfolabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h2 id="contactinfolabel">Contact Information</h2>
	</div>

	<div class="modal-body">
	  	<p>Please contact us at 1-888-562-8662 and an Asurion Customer Service Representative will be happy to further assist you.</p>

	  	<p class="margin-bottom-20">Customer Service Representatives are available Monday through Friday between 7am and 9pm CST or Saturday and Sunday between 8am and 7pm CST.</p>
	</div>

	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="exitinfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="exitinfolabel" aria-hidden="true"></div>
<div id="locateinfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="locateinfolabel" aria-hidden="true"></div>


<div id="changedevice" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changedevicelabel" aria-hidden="true">
<script type="text/javascript">
$(document).ready(function() {
	$('#change-device').carousel({
	interval: false
	})
});
</script>

   <script type="text/javascript" language="javascript">
	$(document).ready(function(){
	$('#device-search-button').click(function(){
	$('#change-device').slideToggle('slow');
	});
	});
   </script>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h2 id="changedevicelabel">Search for the affected device</h2>
</div>

<div class="modal-body">
        <div class="row text-center">
            <div class="span7">
                <label for="affected-device-search">Search for the affected device</label>                 
                <input type="text" name="contact-number" placeholder="Enter the affected device name" id="affected-device-search"  class="span5" />
                <a class="btn span1 has-icon margin-top-0" id="device-search-button">search</a>
            </div>
        </div>

	    <div id="change-device" class="carousel slide" style="display:none;">

<!--         <ol class="carousel-indicators">
            <li data-target="#change-device" data-slide-to="0" class="active"></li>
            <li data-target="#change-device" data-slide-to="1"></li>
        </ol> -->

        <!-- Carousel items -->


    <div class="well secondary">  
        <div class="carousel-inner">    

            <div class="item active">
                <div class="row">
                  <div class="span1"><a data-dismiss="modal" aria-hidden="true"><img src="../assets/images/iphoneW.gif" /></a><p class="caption">Apple iPhone 4s White 8GB</p></div>
                  <div class="span1"><a data-dismiss="modal" aria-hidden="true"><img src="../assets/images/iphoneW.gif" /></a><p class="caption">Apple iPhone 4s White 16GB</p></div>
                  <div class="span1"><a data-dismiss="modal" aria-hidden="true"><img src="../assets/images/iphoneW.gif" /></a><p class="caption">Apple iPhone 4s White 32GB</p></div>
                </div>
            </div><!--/item-->
             
            <div class="item">
                <div class="row">
                    <div class="span1"><a data-dismiss="modal" aria-hidden="true"><img src="../assets/images/iphoneB.gif" /></a><p class="caption">Apple iPhone 4s Black 8GB</p></div>
                    <div class="span1"><a data-dismiss="modal" aria-hidden="true"><img src="../assets/images/iphoneB.gif" /></a><p class="caption">Apple iPhone 4s Black 16GB</p></div>
                    <div class="span1"><a data-dismiss="modal" aria-hidden="true"><img src="../assets/images/iphoneB.gif" /></a><p class="caption">Apple iPhone 4s Black 32GB</p></div>
                </div>
            </div><!--/item-->

        </div><!--/carousel-inner-->

         <a class="left carousel-control" href="#change-device" data-slide="prev">&#xe015;</a>             
         <a class="right carousel-control" href="#change-device" data-slide="next">&#xe016;</a>
    </div>

    <div class="pagination pagination-small pagination-centered" style="position:absolute; width: 100%;margin-top:0;">
<ul style="padding:0">
<li><a href="#change-device" data-slide="prev">«</a></li>
<li class="active"><a href="#" data-target="#change-device" data-slide-to="0">1</a></li>
<li><a href="#" data-target="#change-device" data-slide-to="1">2</a></li>
<li><a href="#change-device" data-slide="next">»</a></li>
</ul>
</div>
    </div>


		</div>


    <div class="modal-footer">
    	<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>


