<script type="text/javascript">
jQuery(window).scroll(function() {

    if (jQuery(this).scrollTop()>80)
     {
      jQuery('.chat-flag').removeClass("fadeOutRight").addClass("fadeInRight");  
     }
    else
     {
      jQuery('.chat-flag').removeClass("fadeInRight").addClass("fadeOutRight")();
     }
 });
</script>


<!-- HEADER START -->  
	<header>
		<div class="container">
			<div class="span12">
				<h1 class="logo">&#xe018;</h1>
				<div class="links">
					<a href="#" class="es-link"><span>Ver esta página en </span>español</a>
					<a href="#" class="chat-link"><i class="icon-chat"></i>Live Chat</a>
				</div>
			</div>
		</div>
	</header>

<a href="#">
<div class="chat-flag">
      <i class="icon-chat"></i>
      <p>Need Help?</p>
</div>
</a>	
<!-- HEADER END -->
